<div class="jumbotron" id="jumbotron-index">
	<div class="col-xs-4">
	  <label>Company</label>
	  <select class="form-control" ng-model="allCtrl.selectedCompany" ng-options="company for company in allCtrl.companies">
	  	<option value="">All</option>
	  </select>
	</div>
	<div class="col-xs-4">
	  <label>Search</label>
	  <input type="search" class="form-control" ng-model="allCtrl.search" placeholder="search...">
	</div>
	<div class="col-xs-4">
	  <label>Sort By</label>
	    <select class="form-control" name="status" ng-model="allCtrl.sortBy">
		    <option value="">Select</option>
	      <option ng-click="allCtrl.sortBy = 'company'" value="company">Company</option>
	      <option ng-click="allCtrl.sortBy = 'position'" value="position">Position</option>
	      <option ng-click="allCtrl.sortBy = 'applied'" value="appliedOn">Applied</option>
	      <option ng-click="allCtrl.sortBy = 'status'" value="status">Status</option>
	    </select>
	</div><br><br>
</div>

<div>
	<label class="checkbox-inline"><input type="checkbox" class="" ng-model="hideRejected">Hide Rejected Jobs</label>
</div><br>

<div class="row">
  <div class="col-sm-6 col-xs-6 col-md-3 col-lg-3 hovereffect" ng-hide="job.status=='Rejected' && hideRejected" ng-repeat="job in allCtrl.jobs | filter:allCtrl.search | filter:{company:allCtrl.selectedCompany||undefined} | orderBy:allCtrl.sortBy track by $index">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{job.company}}</h3>
        <p class="text-muted" id="position-index">{{job.position}}</p>
      </div>
      <div class="panel-footer text-muted" id="{{job.status}}">
      	<p>Applied: {{job.appliedOn | date: "shortDate"}}</p>
      </div>
    </div>
    <div class="overlay">
	    <p class="hover-company">{{job.company}}</p>
	    <a ui-sref="showJob({jobId: job._id})" class="glyphicon glyphicon-eye-open"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    <a ng-click="allCtrl.deleteJob(job)" class="glyphicon glyphicon-trash"></a>
	    <p class="hover-followUp">Follow Up: {{job.followUp | date: "shortDate"}}</p>
	    <p class="hover-position">{{job.position}}</p>
    </div>
	</div>
</div>

<p class="text-muted">Total Jobs Applied: {{allCtrl.jobs.length}}</p>

