<div id="app-name">
	<!-- <img src="http://i.imgur.com/IYcl0vc.png"> -->
	<h1>BUSINESS</h1>
	<hr>
	<h1>CASUAL</h1>
</div>

<div id="about-dev"><br><br>
	<h3>ABOUT THE DEVELOPER</h3>
	<hr>
	<p>Elena Korotich is a brand-new talented Web Developer based in Southern California.<br>
	You are looking at one of her latest projects. <br><br>
	LET'S WORK TOGETHER!</p><br>
	<a href="mailto:elena.korotich@gmail.com?Subject=Let's%20work%20together!" class="glyphicon glyphicon-envelope"></a><br><br><br>


</div>