body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#position-index {
	font-size: 18px;
}

ul.navbar-nav a.active {
	background-color: white;
	color: black;
}

div.thumbnail {
	padding: 0;
}

div.caption {
	text-align: center;
}

div.panel-footer.Rejected {
	background-color: #ff7373;
}

div.panel-footer.Applied {
	background-color: #c6c6c6;
}

div.panel-footer.Pending {
	background-color: #fef56f;
}

div.panel-footer.Interview {
	background-color: #badfef;
}

div.panel-footer.Offer {
	background-color: #1b85b8;
	color: white;
}

.text-muted {
	color: #414141;
}

#job-show {
	color: #1877a5;
	font-size: 18px;
}
