body {
  padding: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#delete-comment {
	font-size: 13px;
	color: #1b85b8;
}

#logo-img {
	height: 40px;
	padding-top: 10px;
}

#log-out {
	padding-top: 11px;
}

#app-name {
	color: white;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 30px;
	padding-top: 260px;
}

#app-name hr {
	width: 500px;
}

/*#app-name img {
	height: 150px;
	padding-top: 20px;
}*/

.navbar {
	background: rgba(255, 255, 255, 0.3);
}

#profile-logo {
	width: 30px;
}

#position-index {
	font-size: 18px;
}

ul.navbar-nav a.active {
	background-color: white;
	color: black;
}

div.thumbnail {
	padding: 0;
}

div.caption {
	text-align: center;
}

#Rejected {
	background-color: #ff7373;
}

#Applied {
	background-color: #c6c6c6;
}

#Pending {
	background-color: #fef56f;
}

#Interview {
	background-color: #badfef;
}

#Offer {
	background-color: #1b85b8;
	color: white;
}

#High {
	background-color: #6DC35B;
	color: white;
}

#Medium {
	background-color: #fef56f;
	color: white;
}

#Low {
	background-color: #D1B9F1;
	color: white;
}

.text-muted {
	color: #414141;
}

#job-show {
	color: #1877a5;
	font-size: 18px;
}

.glyphicon {
	font-size: 20px;
}